TOPIC: String Based Assignment Problem
---------------------------------------

1. Write a program to reverse a string.

In [1]:
s = "hello world"
s1 = s[::-1]
print(s1)

dlrow olleh

2. Check if a string is a palindrome.

In [5]:
S = "kok"
if S == S[::-1]:
    print("string is a palindrome")
else:
    print("Not a palindrome")

string is a palindrome

3. Convert a string to uppercase

In [11]:
s = "krishna"
s = s.upper()
print(s)

KRISHNA

4. Convert a string to lowercase.

In [12]:
s = "KRISHNA"
s = s.lower()
print(s)

krishna

5. Count the number of vowels in a string.

In [17]:
s = "hello world"
count = 0

for i in s:
    if i in "aeiou":
        count = count + 1
print('number of vowels is : ',count)

number of vowels is :  3

6. Count the number of consonants in a string.

In [20]:
s = "hello world"
vowels = 0
space = 0
for i in s:
    if i in "aeiou":
        vowels = vowels + 1
    elif i in " ":
        space = space + 1
        
Consonants = len(s) - vowels - space
print('number of Consonants is : ',Consonants)

number of Consonants is :  7

7. Remove all whitespaces from a string.

In [24]:
s = "k m  m      m   g g g "

s = s.replace(" ", "")
print(s)

kmmmggg

8. Find the length of a string without using the `len()` function.

In [25]:
s = "pwskills"
count = 0
for i in s:
    count += 1
print("Length of a String : ",count)

Length of a String :  8

9. Check if a string contains a specific word.

In [26]:
s = "This is string."
sub_s = "is"

if sub_s in s:
    print("yes, string contains specific word" )
else:
    print("No, string contains specific word")

yes, string contains specific word

10. Replace a word in a string with another word.

In [30]:
s = "hello world"
s = s.replace("hello","hii")
print(s)

hii world

11. Count the occurrences of a word in a string.

In [32]:
s1 = "hello world hello"
s = s1.count("hello")
print(s)

2

12. Find the first occurrence of a word in a string.

In [35]:
s1 = "hello world hello"
s = s1.find("hello")
print("first occurrence of a word in a string index :",s)

first occurrence of a word in a string index : 0

13. Find the last occurrence of a word in a string

In [37]:
s1 = "hello world hello"
s = s1.rfind("hello")
print("last occurrence of a word in a string index :",s)

last occurrence of a word in a string index : 12

14. Split a string into a list of words.

In [39]:
s = "   hello world"
words = s.split()
print(words)

['hello', 'world']

15. Join a list of words into a string.

In [40]:
words = ["This", "is", "a", "sample", "text."]
joined_string = " ".join(words)
print(joined_string)

This is a sample text.

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [41]:
original_string = "This is a sample text."
underscore_string = original_string.replace(" ", "_")
print(underscore_string)

This_is_a_sample_text.

17. Check if a string starts with a specific word or phrase.

In [3]:
s = "Hello world"

if s.startswith("Hello") :
    print("Yes ,string starts with a specific word or phrase. ")
else :
    print("NO ,string starts with a specific word or phrase.")

Yes ,string starts with a specific word or phrase.

18. Check if a string ends with a specific word or phrase.

In [12]:
s = "Hello World"
last_word = input("enter word or phars")
if s.endswith(last_word):
    print("Yes , string ends with a specific word or phrase.is -",last_word )
else:
    print("No , string ends with a specific word or phrase")

enter word or phars World

Yes , string ends with a specific word or phrase.is - World

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [15]:
s = "hello world"
s = s.title()
print(s)

Hello World

20. Find the longest word in a string

In [29]:
s = "krishna kk hhhhhhhhhhh"
s = s.split()
max(s,key = len)

'hhhhhhhhhhh'

21. Find the shortest word in a string

In [30]:
s = "krishna kk hhhhhhhhhhh"
s = s.split()
min(s,key = len)

'kk'

22. Reverse the order of words in a string

In [37]:
s = "This is a sample string to reverse the words."
s = s.split()
reversed_words = s[::-1]
s1 = " ".join(reversed_words)
print(s1)

words. the reverse to string sample a is This

23. Check if a string is alphanumeric.

In [38]:
s = input("Enter the string")
if s.isalnum() :
    print("Yes ,string is alphanumeric")
else :
    print("No ,string is not alphanumeric")

Enter the string kk11

Yes ,string is alphanumeric

24. Extract all digits from a string

In [45]:
s = "The price is $19.99, and you have 25 items."

# Extract digit string 
#using for loop
for i in s:
  # using isdigit() function
  if(i.isdigit()):
    print(i,end="")

199925

25. Extract all alphabets from a string.

In [50]:
s = "@#$krishna234"
for i in s:
    if i.isalpha():
        print(i,end="")

krishna

26. Count the number of uppercase letters in a string.

In [51]:
s = "PWS skillS"
c = 0
for i in s:
    if i.isupper():
        c = c + 1
print("Count the number of uppercase is :",c)

Count the number of uppercase is : 4

27. Count the number of lowercase letters in a string.

In [52]:
s = "PWS skillS"
c = 0
for i in s:
    if i.islower():
        c = c + 1
print("Count the number of uppercase is :",c)

Count the number of uppercase is : 5

28. Swap the case of each character in a string

In [53]:
s= "Hello, World!"

s = s.swapcase()
print(s)

hELLO, wORLD!

29. Remove a specific word from a string.

In [56]:
s= "Hello,is  World!"

s = s.replace("is","")
print(s)

Hello,  World!

30. Check if a string is a valid email address.

In [62]:
email = input("Enter email address")
pattern = "@gmail.com"
if paten in email:
    print("valid email address")
else:
    print("not valid email")

Enter email address krishna@gmail.com

valid email address

31. Extract the username from an email address string.

In [14]:
s = "krishna123@gmail.com"
s = s[:s.index('@')]
for i in s:
    if i.isalpha():
        print(i,end="");

krishna

32. Extract the domain name from an email address string.

In [15]:
s = "krishna123@gmail.com"
s = s[s.index('@'):]
for i in s:
    if i.isalpha():
        print(i,end="");

gmailcom

33. Replace multiple spaces in a string with a single space.

In [24]:
s = "   Welcome    to   pw   skills   ";
s = s.split()
s1 = " ".join(s)
print(s1)

Welcome to pw skills

34. Check if a string is a valid URL.

In [34]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        
        # Check if the scheme (e.g., http, https) and netloc (e.g., domain) are both present
        return all([result.scheme, result.netloc])
        
    except ValueError:
        return False

# Example usage:
url = "https://www.google.com"
if is_valid_url(url):
    print("Valid URL")
else:
    print("Not a valid URL")

Valid URL

35. Extract the protocol (http or https) from a URL string.

In [30]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

# Example usage:
url = "https://www.example.com"
protocol = extract_protocol(url)
print("Protocol:", protocol)

Protocol: https

36. Find the frequency of each character in a string

In [50]:
s = "hello world"
for i in s:
    s1 = s.count(i)
    print(i,":",s1)

h : 1
e : 1
l : 3
l : 3
o : 2
  : 1
w : 1
o : 2
r : 1
l : 3
d : 1

37. Remove all punctuation from a string

In [51]:
s = "Hello, World! This is an example string with some punctuation."
s = s.replace(".","")
s = s.replace(",","")
s = s.replace("!","")
print(s)

Hello World This is an example string with some punctuation

38. Check if a string contains only digits.

In [53]:
s = input("Enter string")

if s.isdigit():
    print("YES, string contains only digits. ")
else:
    print("NO, string NOT contains only digits. ")

Enter string 1234

YES, string contains only digits.

39. Check if a string contains only alphabets.

In [58]:
s = input("Enter string")

if s.isalpha():
    print("YES, string contains only alphabets. ")
else:
    print("NO, string NOT contains only alphabets. ")

Enter string ABCD

YES, string contains only alphabets.

40. Convert a string to a list of characters

In [62]:
S = "hello world"
char_list = []
for i in S:
    l = char_list.append(i)
print(char_list)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

41. Check if two strings are anagrams.

In [78]:
s1 = "ABCD"
s2 = "bdca"

s1 = s1.replace(" ","").lower()
s2 = s2.replace(" ","").lower()
if sorted(s1) == sorted(s2):
    print("Yes, two strings are anagrams.")
else:
    print("NO, two strings are NOT anagrams")

Yes, two strings are anagrams.

42. Encode a string using a Caesar cipher.

In [96]:
p = input("Enter plain text :")
s = 1
result = ""
for i in range(len(p)):
    char = p[i]
    if char.islower():
        result += chr((ord(char) + s -97)% 26+ 97)
    elif char.isupper():
        result += chr((ord(char) + s -65)% 26+ 65)
print("Shift :",s)
print("Encode a string: ",result)

Enter plain text : PWskillsA

Shift : 1
Encode a string:  QXtljmmtB

43. Decode a Caesar cipher encoded string.

In [100]:
p = input("Enter plain text :")
s = 1
result = ""
for i in range(len(p)):
    char = p[i]
    if char.islower():
        result += chr((ord(char) - s -97)% 26+ 97)
    elif char.isupper():
        result += chr((ord(char) - s -65)% 26+ 65)
print("Shift :",s)
print("Encode a string: ",result)

Enter plain text : QXtljmmtB

Shift : 1
Encode a string:  PWskillsA

44. Find the most frequent word in a string.

In [121]:
s = "heLLo worLd"
val = max(s , key = lambda x: s.count(x))
print("the most frequent word in a string. \n",val,":",s.count(val))

the most frequent word in a string.
 L : 3

45. Find all unique words in a string.

In [126]:

str = "This is a test. This is only a test. If this were a real emergency, we would be in trouble."
# storing string in the form of list of words
s = set(str.split(" "))
# for loop for iterating
for i in s:
    print(i)

only
is
be
in
emergency,
were
would
a
real
test.
we
this
trouble.
If
This

46. Count the number of syllables in a string

In [189]:
s = "elephant"
s.split()
c = 0
for i in s:
    if i in "aeiouy":
        c += 1
print('The word',s,"has ",c, 'syllables.')

The word elephant has  3 syllables.

47. Check if a string contains any special characters.

In [182]:
s = "Hello, World!"
s.split()
pattern = r'[!@#$%^&*()_+{}\[\]:;"\'<>,.?/\\|]'
c = 0
for i in range(len(s)):
    # checking if any special character is present in given string or not
    if s[i] in pattern:
        c += 1  # if special character found then add 1 to the c
        
if c:
    print("string contains any special characters.")
else:
    print("string accepted")

string contains any special characters.

48. Remove the nth word from a string.

In [196]:
s1 = "my name is krishna"
n = int(input("n: "))
s = s1.split()

if n >= 1 and n <= len(s):
    s.pop(n - 1)
    result = " ".join(s)
    print("Original string: ", s1)
    print("String after removing the nth word: ", result)
else:
    print("Invalid value of n. Please enter a valid position within the range.")

n:  1

Original string:  my name is krishna
String after removing the nth word:  name is krishna

49. Insert a word at the nth position in a string.

In [198]:
s1 = "my name is krishna"
w = input("Insert a word at the nth position :")
n = int(input("n: "))
s = s1.split()

if n >= 1 and n <= len(s):
    s.insert(n - 1,w)
    result = " ".join(s)
    print("Original string: ", s1)
    print("Insert a word at the nth position in a string.: ", result)
else:
    print("Invalid value of n. Please enter a valid position within the range.")

Insert a word at the nth position : hiii,
n:  1

Original string:  my name is krishna
Insert a word at the nth position in a string.:  hiii, my name is krishna

50. Convert a CSV string to a list of lists.

In [199]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Use a StringIO object to simulate a file
    csv_file = StringIO(csv_string)

    # Initialize a CSV reader with a comma as the delimiter
    csv_reader = csv.reader(csv_file, delimiter=',')

    # Convert the CSV data into a list of lists
    data = [row for row in csv_reader]

    return data

# Example usage:
csv_string = "Name,Age,Location\nAlice,30,New York\nBob,25,Los Angeles\nCharlie,35,Chicago"
csv_list = csv_string_to_list(csv_string)
for row in csv_list:
    print(row)

['Name', 'Age', 'Location']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']
['Charlie', '35', 'Chicago']

List Based Practice Problem :
=====

1. Create a list with integers from 1 to 10

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [4]:
l = [1,2,3,4,5,6,7,8,9,10]
c = 0
for i in l:
    c += 1
print("lenth of a list is :",c)

lenth of a list is : 10

3. Append an element to the end of a list.

In [9]:
l = [1,2,3,4,5,6,7,8,9,10]
l.append("krishna")
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'krishna']

4. Insert an element at a specific index in a list.

In [11]:
## inser an element at a specific index use : insert(index,element) funtion
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'krishna']
l.insert(1 , "pwskills")
l

[1, 'pwskills', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'krishna']

5. Remove an element from a list by its value.

In [12]:
## remove an element from a list by its value use : remove(value) funtion
l = [1, 'pwskills', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'krishna']
l.remove(1)
l

['pwskills', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'krishna']

6. Remove an element from a list by its index

In [16]:
## remove an element from a list by its inedex use : pop(index) method
l = ['pwskills', True, "Hello" , 3, 4, 5, 6, 7, 8, 9, 10, 'krishna']
l.pop(0)
l

[True, 'Hello', 3, 4, 5, 6, 7, 8, 9, 10, 'krishna']

7. Check if an element exists in a list.

In [17]:
## Check if an element exists in a list. use : if in
l = ['pwskills', True, "Hello" , 3, 4, 5, 6, 7, 8, 9, 10, 'krishna']
element = 3
if element in l:
    print("Yes , ",element,"exists in the list.")
else:
    print("No , does not exist in the list.")

Yes ,  3 exists in the list.

8. Find the index of the first occurrence of an element in a list

In [21]:
## Find the index of the first occurrence of an element in a list use : index() funtion
l = ['pwskills', True, "Hello" , 3, 4, 5, 6, 7, 8, 9, 10, 'krishna']
l.index('pwskills')

0

9. Count the occurrences of an element in a list.

In [24]:
l = ['pwskills', True, "Hello" , 3, 4, 5, 6, 7, 8, 3,4,"krishna", 9, 10, 'krishna']
for i in l:
    c = l.count(i)
    print(i,":",c)

pwskills : 1
True : 1
Hello : 1
3 : 2
4 : 2
5 : 1
6 : 1
7 : 1
8 : 1
3 : 2
4 : 2
krishna : 2
9 : 1
10 : 1
krishna : 2

10. Reverse the order of elements in a list.

In [28]:
## Reverse the order of elements in a list.use reverse() funtion and [::-1]
l = ['pwskills', True, "Hello" , 3, 4, 5, 6,"krishna", 9, 10, 'krishna']
l.reverse()
l

['krishna', 10, 9, 'krishna', 6, 5, 4, 3, 'Hello', True, 'pwskills']

11. Sort a list in ascending order

In [33]:
## sort a list in ascending order use short() method
l = [66,5,77,8,9,1,33,4,2,]
l.sort()
l

[1, 2, 4, 5, 8, 9, 33, 66, 77]

12. Sort a list in descending order.

In [34]:
## Sort a list in descending order. use sort(reverse = True) funtion
l = [66,5,77,8,9,1,33,4,2,]
l.sort(reverse = True)
l

[77, 66, 33, 9, 8, 5, 4, 2, 1]

13. Create a list of even numbers from 1 to 20

In [38]:
list = []
for i in range(1,21):
    if i % 2 == 0:     ## if event condition
        list.append(i)
list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [41]:
list = []
for i in range(1,21):
    if i % 2 != 0:   ## if odd condition
        list.append(i)
list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list

In [42]:
list = [1,2,3,4,5]
sum = 0
for i in list:
    if i > 0:
        sum += i
print("sum of all elements = ",sum)

sum of all elements =  15

16. Find the maximum value in a list.

In [45]:
## Find the maximum value in a list. use:  max(list) funtion 
l = [13,4,5,6,7,8,9,66,77]
l = max(l)
l

77

17. Find the minimum value in a list.

In [47]:
## Find the minimum value in a list. use : min(list) funtion
l = [13,4,5,6,7,8,9,66,77]
l = min(l)
l

4

18. Create a list of squares of numbers from 1 to 10.

In [50]:
list = []
for i in range(1,11):
    list.append(i**2)
list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [53]:
# to generate random number list
# using random.sample()
import random
 
# using random.sample()
# to generate random number list
res = random.sample(range(1, 10), 7)
 
# printing result
print ("Random number list is : " +  str(res))

Random number list is : [2, 3, 4, 5, 9, 1, 6]

20. Remove duplicates from a list.

In [72]:
l = [1,1,1,1,2,2,2,3,4,5,6,6]
l = set(l)
l1 = []
for i in l:
    l1.append(i)
l1

[1, 2, 3, 4, 5, 6]

21. Find the common elements between two lists.

In [76]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Using sets to find common elements
common_elements = set(list1) & set(list2)

l1 = []
for i in common_elements:
    l1.append(i)
l1

[3, 4, 5]

22. Find the difference between two lists.

In [8]:
l1 = [1 , 2, 3 ,"krishna" , True]
l2 = [ 3 , 1 , True , "pwskills" ,2 ,5]
l3 = set(l1) ^ set(l2)
list(l3)

['pwskills', 5, 'krishna']

23. Merge two lists

In [15]:
l1 = [1 , 2, 3 ,"krishna" , True]
l2 = [ 3 , 1 , True , "pwskills" ,2 ,5]
l1 + l2

[1, 2, 3, 'krishna', True, 3, 1, True, 'pwskills', 2, 5]

24. Multiply all elements in a list by 2.

In [16]:
l =[1,2,3,4,5,6]
l1 = []

for i in l:
    l1.append(i*2)
l1

[2, 4, 6, 8, 10, 12]

25. Filter out all even numbers from a list

In [21]:
l = [1 ,2 ,3 ,4, 5, 6, 7,8,9 ,10]
l1 = []

for i in l:
    if i % 2 == 0:
        l1.append(i)
l1

[2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers.

In [22]:
l = ["1" , "2" ,"3" ,"4"]
l1 = []
for i in l:
        l1.append(int(i))
l1

[1, 2, 3, 4]

27. Convert a list of integers to a list of strings.

In [23]:
l = [1 ,2 ,3 ,4, 5, 6, 7,8,9 ,10]
l1 = []

for i in l:
        l1.append(str(i))
l1

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

28. Flatten a nested list.

In [27]:
l = [[1, 2, 3], [4, 5], [6, 7, 8]]
l1 = []

for i in l:
    l1.extend(i) ## using extend() funtion nested list to flatten
l1

[1, 2, 3, 4, 5, 6, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [30]:
# Initialize the first two Fibonacci numbers
fibonacci_numbers = [0, 1]

# Generate the first 10 Fibonacci numbers
for i in range(2, 10):
    next_fibonacci = fibonacci_numbers[i-1] + fibonacci_numbers[i-2]
    fibonacci_numbers.append(next_fibonacci)

print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted

In [58]:
l = [5, 6, 7, 8, 1, 2]

c = 0
for i in range(0, len(l) - 1):
    if l[i] > l[i + 1]:
        c = 1
        break
    else:
        c = 0

if c == 1:
    print("No, the list is not sorted.")
else:
    print("Yes, the list is sorted.")

No, the list is not sorted.

31. Rotate a list to the left by `n` positions.

In [5]:
l = [1,2,3,4,5,6,7,"krishan"]
n = int(input("enter n position: "))
l = l[n:] + l[:n]
l

enter n position:  3

[4, 5, 6, 7, 'krishan', 1, 2, 3]

32. Rotate a list to the right by `n` positions

In [7]:
l = [4, 5, 6, 7, 'krishan', 1, 2, 3]
n = int(input("enter n position: "))
l = l[n:] + l[:n]
l

enter n position:  -3

[1, 2, 3, 4, 5, 6, 7, 'krishan']

33. Create a list of prime numbers up to 50.

In [5]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,50) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
5 31
5 35
5 37
5 41
5 43
5 47
5 49
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [15]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9] 

# How many elements each 
# list should have 
n = 4

# using list comprehension 
x = [l[i:i + n] for i in range(0, len(l), n)] 
print(x)

[[1, 2, 3, 4], [5, 6, 7, 8], [9]]

35. Find the second largest number in a list.

In [32]:
l = [4,5,6,7,8,9,10]
l1 = sorted(l)
l1[-2]

9

36. Replace every element in a list with its square.

In [34]:
l = [1,2,3,4,5,6,7,8,9]
l1 = []

for i in l:
    l1.append(i**2)
l1

[1, 4, 9, 16, 25, 36, 49, 64, 81]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [36]:
# Example list
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38. Shuffle the elements of a list randomly.

In [39]:
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [3, 8, 2, 6, 9, 4, 1, 7, 10, 5]

39. Create a list of the first 10 factorial numbers

In [49]:
def facto(n):
    if n == 0 or n==1:
        return 1
    else:
        return n * facto(n-1)

l = [facto(i) for i in range(10)]
print("list of 10 factorial number : ", l)

list of 10 factorial number :  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [52]:
def has_common_element(l1 , l2):
    for item in l1:
        if item in l2:
            return True
        else:
            return False

l1 = [1,2,3,4,5,6]
l2 = [1,5,6,7,89,9]
if has_common_element(l1,l2):
    print("yes , two lists have at least one element in common.")
else:
    print("No , two lists have no common.element")

yes , two lists have at least one element in common.

41. Remove all elements from a list

In [55]:
l = [12,4,5,6,7]
l.clear()
l

[]

42. Replace negative numbers in a list with 0

In [58]:
my_list = [1,2,3,-2,-4,-6,6]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print(my_list)

[1, 2, 3, 0, 0, 0, 6]

43. Convert a string into a list of words

In [59]:
# Example string
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

In [61]:
l = ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']
l1 = " ".join(l)
l1

'Hello, this is a sample sentence.'

45. Create a list of the first `n` powers of 2.

In [63]:
n = int(input("enter list element"))
l = [2**i for i in range(n) ]
print("Create a list of the first n powers of 2." , l)

enter list element 10

Create a list of the first n powers of 2. [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [64]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

log_str = ""
for s in string_list:
    if len(s) > len(log_str):
        log_str = s
print("longest string in list is :",log_str)

longest string in list is : elderberry

47. Find the shortest string in a list of strings.

In [65]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

short_str = string_list[0]
for s in string_list:
    if len(s) < len(short_str):
        short_str = s
print("longest string in list is :",short_str)

longest string in list is : date

48. Create a list of the first `n` triangular numbers

In [66]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [72]:
def subsequence(main_list,sub_list):
    sub_i = 0
    for element in main_list:
        if element == sub_list[sub_i]:
            sub_i += 1
            if sub_i == len(sub_list):
                return True
    return False

main_list = [1,2,3,4,5,6,7,8,9,10]
sub_list = [2,7,9,10]

if subsequence(main_list,sub_list):
    print("yes , list contains another list as a subsequence.")
else:
    print("no ,list is not contains another list as a subsequence.")

yes , list contains another list as a subsequence.

50. Swap two elements in a list by their indices.

In [74]:
mylist = [1, 2, 3, 4, 5]
i1 = 1
i2 = 3
temp = mylist[i1]
mylist[i1] = mylist[i2]
mylist[i2] = temp
print(mylist)

[1, 4, 3, 2, 5]

-----------------------------------

Tuple Based Practice Problem :
----------------

-----------------------------------------------------

1. Create a tuple with integers from 1 to 5.

In [76]:
tuple = (1,2,3,4,5)

2. Access the third element of a tuple

In [78]:
t = (1,2,3,4,5)
t[2]

3

3. Find the length of a tuple without using the `len()` function.

In [81]:
t = (1,2,3,4,5)
n=0
for i in t:
    n +=1
print("length of tuple :",n)

length of tuple : 5

4. Count the occurrences of an element in a tuple.

In [83]:
t = (1,2,3,4,5,2,2,2)
occurence_ele = int(input("enter element occurence :"))
c = 0
for i in t:
    if i == occurence_ele:
        c += 1
print("count occurence element in a tuple : ",c)

enter element occurence : 2

count occurence element in a tuple :  4

5. Find the index of the first occurrence of an element in a tuple.

In [84]:
## tuple 


t = (1,2,3,4,5,6,7,8,9)
element = int(input("enter the element :"))
occur_index = -1

for k,v in enumerate(t):
    if v == element:
        occur_index = k
        break
    

if occur_index != -1:
    print(f"first occurence element {element} and its index is : {occur_index}")
else:
    print(f"{element} is not found in a tuple")

enter the element : 9

first occurence element 9 and its index is : 8

6. Check if an element exists in a tuple

In [85]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Choose the element to check for existence
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

7. Convert a tuple to a list

In [86]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)

# Step 3: Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

8. Convert a list to a tuple

In [1]:
# Python3 program to convert a 
# list into a tuple
def convert(list):
	return tuple(list)

# Driver function
list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

9. Unpack the elements of a tuple into variables.

In [2]:
## tuple to variable = unpack varable
t = (1,2,"krishna")
a,b,c = t
print(a,b,c)

1 2 krishna

10. Create a tuple of even numbers from 1 to 10.

In [4]:
# Python3 program to convert a 
# list into a tuple
def enven_tuple(list):
	return tuple(list)

# Driver function
list = [i for i in range(1,10) if i%2 ==0]
print(enven_tuple(list))

(2, 4, 6, 8)

11. Create a tuple of odd numbers from 1 to 10.

In [7]:
# Python3 program to convert a 
# list into a tuple
def enven_tuple(list):
	return tuple(list)

# Driver function
list = [i for i in range(1,10) if i%2 !=0]
print(enven_tuple(list))

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [8]:
t = (1,2,3,4,5)
t1 = (1,2,3,4,8,9)

print(t+t1)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 8, 9)

13. Repeat a tuple three times.

In [10]:
t = (1,2,3)
print(t*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty

In [11]:
t = (1,2,3,4,"pw")

if len(t) == 0:
    print("yes , tuple is empty")
else:
    print("tuple is not empty")

tuple is not empty

15. Create a nested tuple.

In [14]:
t = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
t

((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple

In [15]:
t = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
t[0][0]

1

17. Create a tuple with a single element.

In [16]:
t= (1)
t

1

18. Compare two tuples.

In [17]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [18]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Step 2: Delete the tuple using the 'del' statement
del my_tuple

# Step 3: Try to access the tuple (will raise a NameError)
print(my_tuple)

NameError: name 'my_tuple' is not defined

20. Slice a tuple

In [19]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[:3]

(1, 2, 3)

21. Find the maximum value in a tuple.

In [20]:
t = (1, 2, 3, 4, 5)
t = max(t)
t

5

22. Find the minimum value in a tuple.

In [21]:
t = (1, 2, 3, 4, 5)
t = min(t)
t

1

23. Convert a string to a tuple of characters.

In [22]:
# Step 1: Create a string
my_string = "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Step 3: Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [24]:
t = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string = "".join(t)
print(string)

Hello, World!

25. Create a tuple from multiple data types.

In [25]:
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [26]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

27. Sort the elements of a tuple

In [27]:
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

28. Convert a tuple of integers to a tuple of strings.

In [39]:
# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [41]:
t = ('1', '2', '3', '4', '5')

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_int = tuple(item for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of int:", tuple_int)

Tuple of int: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [42]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [5]:
def flatten_tuple(nested_tuple):
    flaten_tu = []
    for item in nested_tuple:
        if isinstance(item , tuple):
            flaten_tu.extend(item)
        else:
            flaten_tu.append(item)
    return flaten_tu

## ceate nested tuple
nested_tuple = ((1,2,3) , (4,5,6) , (7,8,9))

## convert nested tuple to normal(flatten)
flatten_tuple = tuple(flatten_tuple(nested_tuple))

## print tuple
print(nested_tuple)
print("flatten tuple : ",flatten_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
flatten tuple :  (1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [8]:
def isprime(num):
    if num <= 1:
        return False
    for i in range(2 , int(num**0.5)+ 1):
        if num %i == 0:
            return False
    return True

## generate 5 prime num
prime_num = [num for num in range(2,100) if isprime(num)][:5]

## convert list to tuple 
prime_no = tuple(prime_num)

##print
print("tuple with first 5 prime no :", prime_no)

tuple with first 5 prime no : (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [9]:
def ispalidrone(tup):
    return tup == tup[::-1]

## create tuple
tuple_1 = (1,2,3,2,1)
tuple_2 = (1,2,3,4,5)

## check tuple is palidrone
t1 = ispalidrone(tuple_1)
t2 = ispalidrone(tuple_2)

## print is palidrone

print("tuple_1 is palindrone : " , t1)
print("tuple_2 is palindrone : " , t2)

tuple_1 is palindrone :  True
tuple_2 is palindrone :  False

34. Create a tuple of squares of numbers from 1 to 5.

In [12]:
## using tuple comprehension
squre_tuple = tuple(i**2 for i in range(1,6))

## print squre tuple
print(squre_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [13]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## filert all even
filter_tuple = tuple(i for i in original_tuple if i%2 == 0)

## print filter tuple
print(filter_tuple)

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [14]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

## multiply all tuple element by 2
multi_ply = tuple(i*2 for i in original_tuple)

## print tuple
print(multi_ply)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [18]:
import random

## create tuple rendom number using tuple comprehenssion
random_tuple = tuple(random.randint(1,100) for _ in range(1,10))
print(random_tuple)

(50, 54, 20, 54, 28, 20, 65, 41, 53)

38. Check if a tuple is sorted.

In [26]:
def is_sort(tup):
    for i in range(len(tup)-1):
        if tup[i] > tup[i+1]:
            return False
    return True

## create tuple
tup1 = (1,2,3,4,5,6)
tup2 = (1,2,6,5,6,4)

## cheak tuple is sorted
t1_sort = is_sort(tup1)
t2_sort = is_sort(tup2)

## print issorted or not
print("t1 tuple is sorted :", t1_sort)
print("t2 tuple is sorted : ", t2_sort)

t1 tuple is sorted : True
t2 tuple is sorted :  False

39. Rotate a tuple to the left by `n` positions.

In [30]:
def rotate_tup(tup ,n):
    n = n % len(tup)
    rotat_t = tup[n:] + tup[:n]
    return rotat_t

## create tuple
t = (1,2,3,4,5,66,7)

n_position = 3
rotate_tup1 = rotate_tup(t,n_position)
print(t)
print(f"rotate {n_position} tuple is : {rotate_tup1}")

(1, 2, 3, 4, 5, 66, 7)
rotate 3 tuple is : (4, 5, 66, 7, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [32]:
def rotate_tup(tup ,n):
    n = n % len(tup)
    rotat_t = tup[-n:] + tup[:-n]
    return rotat_t

## create tuple
t = (1,2,3,4,5,66,7)

n_position = 1
rotate_tup1 = rotate_tup(t,n_position)
print(t)
print(f"rotate {n_position} tuple is : {rotate_tup1}")

(1, 2, 3, 4, 5, 66, 7)
rotate 1 tuple is : (7, 1, 2, 3, 4, 5, 66)

41. Create a tuple of the first 5 Fibonacci numbers.

In [45]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input

In [48]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  k

User input tuple: ('k',)

43. Swap two elements in a tuple

In [51]:
## create tuple
my_tuple = (1,2,3,4,5,6)

index1 = 1
index2 = 3

swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
print(my_tuple)
print(f"tuple swape two element {index1} and {index2} swap : {swapped_tuple}")

(1, 2, 3, 4, 5, 6)
tuple swape two element 1 and 3 swap : (1, 4, 3, 2, 5, 6)

44. Reverse the elements of a tuple

In [52]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [53]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings

In [54]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple , key = len)
print("longest string:",longest_string)

longest string: watermelon

47. Find the shortest string in a tuple of strings

In [55]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = min(string_tuple , key = len)
print("sort string:",longest_string)

sort string: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [56]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [58]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [59]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

--------------------------------------

Set Based Practice Problem :
------------------------

--------------------------------------------------

1. Create a set with integers from 1 to 5.

In [60]:
# Step 1: Create an empty set
my_set = set()

# Step 2: Add integers from 1 to 5 to the set
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

# Step 3: Print the final set
print(my_set)## Set based problems:

{1, 2, 3, 4, 5}

2. Add an element to a set

In [63]:
s = {1, 2, 3, 4, 5}
s.add(0)
s.add(6)
print(s)

{0, 1, 2, 3, 4, 5, 6}

In [64]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Print the original set
print("Original Set:", my_set)

# Step 3: Choose an element to remove
element_to_remove = 3

# Step 4: Use the remove() method to remove the chosen element
# Note: If the element is not present in the set, remove() raises a KeyError.
my_set.remove(element_to_remove)

# Step 5: Print the modified set after removal
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

4. Check if an element exists in a set.

In [65]:
# Step 1: Create a set with some elements
my_set = {1, 3, 5, 7, 9}

# Step 2: Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  1

1 exists in the set.

5. Find the length of a set without using the `len()` function.

In [66]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

6. Clear all elements from a set.

In [67]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Clear all elements from the set using the clear() method
my_set.clear()

# Step 4: Display the set after clearing
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

7. Create a set of even numbers from 1 to 10.

In [68]:
# Step 1: Initialize an empty set
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Step 3: Check if the number is even
    if num % 2 == 0:
        # Step 4: Add the even number to the set
        even_numbers_set.add(num)

# Step 5: Print the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [69]:
# Step 1: Initialize an empty set to store odd numbers.
odd_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10.
for num in range(1, 11):
    # Step 3: Check if the current number is odd.
    if num % 2 != 0:
        # Step 4: If the number is odd, add it to the set.
        odd_numbers_set.add(num)

# Step 5: Print the final set of odd numbers.
print(odd_numbers_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [70]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
unioun_set = set1.union(set2)

print("unioun of two set : ", unioun_set)

unioun of two set :  {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [72]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
unioun_set = set1.intersection(set2)

print("intersection of two set : ", unioun_set)

intersection of two set :  {4, 5}

11. Find the difference between two sets.

In [75]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
unioun_set = set1.difference(set2)

print("difference of two set : ", unioun_set)

difference of two set :  {1, 2, 3}

12. Check if a set is a subset of another set.

In [74]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

13. Check if a set is a superset of another set.

In [76]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14. Create a set from a list.

In [77]:
# Step 1: Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]

# Step 2: Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

# Step 3: Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [78]:
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

16. Remove a random element from a set

In [79]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

17. Pop an element from a set.

In [80]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [81]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

19. Find the symmetric difference between two sets

In [82]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [83]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [84]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [85]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set

In [86]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [87]:
# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [88]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [89]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

27. Multiply all elements in a set by 2.

In [90]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random number

In [91]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {44, 45, 78, 47, 58}

29. Check if a set is empty.

In [93]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if len(my_set) ==0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset)

In [94]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [95]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

32. Compare two sets

In [96]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [97]:
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'l', 'o', 'e', 'h'}

34. Convert a set of strings to a set of integers.

In [98]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '789', '123'}
Converted Integer Set: {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [99]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'4', '3', '2', '1', '5'}

36. Create a set from a tuple

In [100]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [101]:
s = {1, 2, 3, 4, 5}
output_tuple = tuple(s)
print(output_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [102]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

39. Find the minimum value in a set.

In [103]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = 15

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if  num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

40. Create a set from user input

In [104]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  krishna
>  kk
>  pw
>  done

Final set: {'pw', 'krishna', 'kk'}

41. Check if the intersection of two sets is empty.

In [106]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,2}

intersection = set1.intersection(set2)
if len(intersection) == 0:
    print("the intersection of two set are empty")
else:
    print("the intersection of two set are not empty",intersection)

the intersection of two set are not empty {2}

42. Create a set of the first 5 Fibonacci numbers.

In [107]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [108]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [109]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2

In [110]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [112]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

47. Create a set of the first `n` triangular numbers.

In [113]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [114]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [116]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

50. Merge multiple sets into one

In [117]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}